aside.app-news-min
    h2.title-block Новости
    .app-news-min-content 
        a.app-news-min-item(href="#")
            time.app-news-min__data(datetime="20023-09-15 11:50") 15.09.2023
            span.app-news-min__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eum explicabo nisi suscipit aut nulla possimus assumenda quas dignissimos sed porro commodi, at magnam earum? Officia nobis totam est mollitia?