.menu-personal
    position: relative
    z-index: 999
    @include flex(row, center, center)
    gap: 20px
    &__item
        @include text(1.1em, normal, nnormal, $primary-color-txt)
        &:hover
            color: #BC5A5D