header.app-header
    nav.app-header-nav.container
        include ../burger/burger
        include ../menu-main//menu-main
        include ../menu-personal//menu-personal
    .container.presentation
        img.presentation__img(src="static/img/logo.png", alt="aq")
        h1.presentation-title 
            span.presentation-title__title ООО "АЛЬФА КВАЛИТЕТ"
            span.presentation-title__subtitle 220017, г. Минск, ул. Притыцкого, 146, к. 208
            span.presentation-title__subtitle тел./факс: +375 (17) 232-13-13, e-mail: alfaquality@ya.ru
    .bgc-header
        .bgc-header-1
        .bgc-header-2   