.app-header
    position: relative
    z-index: 999
    &-nav
        position: relative
        height: 80px
        // background-color: $primary-color
        .container
            @include flex(row, flex-end, center)
            gap: 80px
            height: 100%
    .presentation
        position: relative
        height: 320px
        @include flex(row, flex-end, flex-start)
        &-title
            margin: 50px
            @include flex(column, flex-start, center)
            &__title
                @include text(1.6em, normal, nnormal, $primary-color)
            &__subtitle
                @include text(.5em, normal, nnormal, $primary-color)
        &__img
            position: absolute
            z-index: 1
            width: 320px
            top: -80px
            left: 50px
@import ../menu-main/menu-main
@import ../menu-personal/menu-personal
.bgc-header
    position: absolute
    z-index: 0
    top: 0
    @include flex(row, flex-end, center)
    height: 80px
    width: 100%
    .bgc-header-1
        height: 100%
        width: 35%
        background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%)
        background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%)
        background: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%)
    .bgc-header-2  
        background-color: $primary-color
        height: 100%
        width: 65%