.app-header
    &-nav
        position: relative
        height: 80px
        background-color: $primary-color
        .container
            @include flex(row, flex-end, center)
            gap: 80px
            height: 100%
    .presentation
        position: relative
        height: 320px
        @include flex(row, flex-end, flex-start)
        &-title
            margin: 50px
            @include flex(column, flex-start, center)
            &__title
                @include text(1.6em, normal, nnormal, $primary-color)
            &__subtitle
                @include text(.5em, normal, nnormal, $primary-color)
        &__img
            position: absolute
            z-index: 0
            width: 380px
            top: -80px
            left: 50px
@import ../menu-main/menu-main
@import ../menu-personal/menu-personal
    