nav.navbar.navbar-expand-lg.navbar-light.bg-light.container
        .container-fluid
            a.navbar-brand(href="#") AQ
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation") 
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNavDropdown.justify-content-end
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.active(href="#" aria-current="page") Главная
                    li.nav-item
                        a.nav-link(href="#" aria-current="page") Услуги
                    li.nav-item
                        a.nav-link(href="#" aria-current="page") Разрешения
                    li.nav-item
                        a.nav-link(href="#" aria-current="page") Отзывы
                    li.nav-item
                        a.nav-link(href="#" aria-current="page") Новости
                    li.nav-item
                        a.nav-link(href="#" aria-current="page") Контакты
