doctype html
html(lang="en")
    head
        
        link(rel="shortcut icon", href="../static/img/favicon.svg", type="image/x-icon")
        link(rel="stylesheet", href="../style/index.css")
        include ../../components/head/head
    body 
        include ../../components/header/header
        main.app-main-services.container
            section.app-main-news
                h2.title-block Новости
                ul.news-list 
                    li.news-list-item 
                        img.news-list-item__img(src="", alt="")
                        .news-list-item-cont 
                            time.news-list-item-cont__data(datetime="20023-09-15 11:50") 15.09.2023
                            h3.news-list-item-cont__title Lorem, ipsum.
                            p.news-list-item-cont__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, praesentium?
                            a.btn(href="") Читать 
                    li.news-list-item 
                        img.news-list-item__img(src="", alt="")
                        .news-list-item-cont 
                            time.news-list-item-cont__data(datetime="20023-09-15 11:50") 15.09.2023
                            h3.news-list-item-cont__title Lorem, ipsum.
                            p.news-list-item-cont__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, praesentium?
                            a.btn(href="") Читать 
                    li.news-list-item 
                        img.news-list-item__img(src="", alt="")
                        .news-list-item-cont 
                            time.news-list-item-cont__data(datetime="20023-09-15 11:50") 15.09.2023
                            h3.news-list-item-cont__title Lorem, ipsum.
                            p.news-list-item-cont__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, praesentium?
                            a.btn(href="") Читать 
                    li.news-list-item 
                        img.news-list-item__img(src="", alt="")
                        .news-list-item-cont 
                            time.news-list-item-cont__data(datetime="20023-09-15 11:50") 15.09.2023
                            h3.news-list-item-cont__title Lorem, ipsum.
                            p.news-list-item-cont__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, praesentium?
                            a.btn(href="") Читать 

        include ../../components/footer/footer
        script(src="../script/media.js" )
