doctype html
html(lang="en")
    head
        
        link(rel="shortcut icon", href="../static/img/favicon.svg", type="image/x-icon")
        link(rel="stylesheet", href="../style/index.css")
        include ../../components/head/head
    body 
        include ../../components/header/header
        main.app-main-services.container
            section.app-main-permissions
                h2.title-block Разрешения
                .app-main-permissions-cont 
                    ul.app-main-permissions-cont-list
                        li.app-main-permissions-cont-list-item
                            .app-main-permissions-cont-list-item-box
                                .app-main-permissions-cont-list-item-name
                                    img.app-main-permissions-cont-list-item__icon(src="static/img/gpn_icon.png", alt="gpn_icon.png")
                                    span Лицензия на право деятельности в области промышленной безопасности
                                span#span_down &#9660
                                span#span_up.d-none &#9650
                            .app-main-permissions-cont-list-item-main.d-none
                                span ООО «Альфа Квалитет» имеет специальное разрешение (лицензию) на право осуществления деятельности в области промышленной безопасности. С полным содержанием области деятельности можно ознакомиться на официальном сайте Госпромнадзора МЧС Республики Беларусь
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/licenziya_GPN.jpg", alt="licenziya_GPN.jpg")
                        li.app-main-permissions-cont-list-item
                            .app-main-permissions-cont-list-item-box
                                .app-main-permissions-cont-list-item-name
                                    img.app-main-permissions-cont-list-item__icon(src="static/img/mchs.png", alt="mchs.png")
                                    span Лицензия на право деятельности в области использования атомной энергии и источников ионизирующего излучения
                                span#span_down &#9660
                                span#span_up.d-none &#9650
                            .app-main-permissions-cont-list-item-main.d-none
                                span ООО «Альфа Квалитет» имеет специальное разрешение (лицензию) на право осуществления деятельности в области использования атомной энергии и источников ионизирующего облучения (использование переносных рентгеновских аппаратов промышленного назначения)
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/radiac.jpg", alt="radiac.jpg")
                        li.app-main-permissions-cont-list-item
                            .app-main-permissions-cont-list-item-box
                                .app-main-permissions-cont-list-item-name
                                    img.app-main-permissions-cont-list-item__icon(src="static/img/bgca_icon.png", alt="bgca_icon.png")
                                    span Аттестат аккредитации лаборатории неразрушающего контроля
                                span#span_down &#9660
                                span#span_up.d-none &#9650
                            .app-main-permissions-cont-list-item-main.d-none
                                span Лаборатория неразрушающего контроля и технического диагностирования ООО «Альфа Квалитет» аккредитована на соответсвие СТБ ИСО/МЭК 17025. С полным содержанием области аккредитации можно ознакомиться на официальном сайте Белорусского государственного центра аккредитации
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/bgca.jpg", alt="bgca.jpg")
                        li.app-main-permissions-cont-list-item
                            .app-main-permissions-cont-list-item-box
                                .app-main-permissions-cont-list-item-name
                                    img.app-main-permissions-cont-list-item__icon(src="static/img/army_icon.jpg", alt="army_icon.jpg")
                                    span Разрешение Главной военной инспекции Вооруженных сил 
                                span#span_down &#9660
                                span#span_up.d-none &#9650
                            .app-main-permissions-cont-list-item-main.d-none
                                span ООО «Альфа Квалитет» имеет разрешение (свидетельство) на право технического диагностирования технических устройств, поднадзорных Главной военной инспекции Вооруженных сил
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/army.jpg", alt="army.jpg")
                        li.app-main-permissions-cont-list-item
                            .app-main-permissions-cont-list-item-box
                                .app-main-permissions-cont-list-item-name
                                    img.app-main-permissions-cont-list-item__icon(src="static/img/9001.gif", alt="9001.gif")
                                    span Сертификат соответствия требованиям СТБ ISO 9001
                                span#span_down &#9660
                                span#span_up.d-none &#9650
                            .app-main-permissions-cont-list-item-main.d-none
                                span Система менеджмента качества ООО «Альфа Квалитет» соответствует требованиям СТБ ISO 9001
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/9001.jpg", alt="9001.jpg")
                        li.app-main-permissions-cont-list-item
                            .app-main-permissions-cont-list-item-box
                                .app-main-permissions-cont-list-item-name
                                    img.app-main-permissions-cont-list-item__icon(src="static/img/gpb_icon.png", alt="gpb_icon.png")
                                    span Экспертное заключение о соответствии требованиям ПАО "Газпром"
                                span#span_down &#9660
                                span#span_up.d-none &#9650
                            .app-main-permissions-cont-list-item-main.d-none
                                span По результатам экспертной проверки установлено, что ООО «Альфа Квалитет» соответствует требованиям ПАО "Газпром" к выполнению работ по диагностике, техническому обслуживанию и ремонту объектов ПАО "Газпром" 
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/gpb-1.jpg", alt="gpb-1.jpg")
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/gpb-2.jpg", alt="gpb-2.jpg")
                                img.app-main-permissions-cont-list-item-main__img(src="static/img/gpb-3.jpg", alt="gpb-3.jpg")
        include ../../components/footer/footer
        script(src="../script/media.js" )
        script(src="../script/permissions.js" )
