doctype html
html(lang="en")
    head
        
        link(rel="shortcut icon", href="../static/img/favicon.svg", type="image/x-icon")
        link(rel="stylesheet", href="../style/index.css")
        include ../../components/head/head
    body 
        include ../../components/header/header
        main.app-main-services.container
            section.app-main-nk
                h2.title-block Неразрушающий контроль
                h3.subtitle-block Мы применяем широкий спектр методов неразрушающего контроля в т.ч. новейшие технологии, обеспечивая получение полной и достоверной информации о техническом состоянии контролируемых объектов
                ul.app-main-services-items 
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/skaner_3d.png", alt="scaner_3d.png")
                        h4.app-main-services-item__title Метод рассеяния магнитного потока
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/AEK.jpg", alt="AEK.jpg")
                        h4.app-main-services-item__title Акустико-эмиссионный  контроль
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/mmpm.png", alt="mmpm.png")
                        h4.app-main-services-item__title Метод магнитной памяти металла.
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/uzd.jpg", alt="uzd.jpg")
                        h4.app-main-services-item__title Ультразвуковая дефектоскопия
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/skaner_3d.png", alt="scaner_3d.png")
                        h4.app-main-services-item__title Метод рассеяния магнитного потока
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/AEK.jpg", alt="AEK.jpg")
                        h4.app-main-services-item__title Акустико-эмиссионный  контроль
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/mmpm.png", alt="mmpm.png")
                        h4.app-main-services-item__title Метод магнитной памяти металла.
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/uzd.jpg", alt="uzd.jpg")
                        h4.app-main-services-item__title Ультразвуковая дефектоскопия
            section.app-main-td
                h2.title-block Техническое диагностирование
                h3.subtitle-block Мы оказываем услуги по техническому диагностированию с продлением срока службы различных технических устройств, в том числе применяемых на опасных производственных объектах
                ul.app-main-services-items 
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/td-1.jpg", alt="td-1.jpg")
                        h4.app-main-services-item__title Объекты химических, нефтехимических, нефтеперерабатывающих производств
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/td-2.jpg", alt="td-2.jpg")
                        h4.app-main-services-item__title Объекты магистральных газопроводов
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/td-3.jpg", alt="td-3.jpg")
                        h4.app-main-services-item__title Сосуды, работающие под давлением
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/td-4.jpg", alt="td-4.jpg")
                        h4.app-main-services-item__title Объекты систем газопотребления и газораспределения
                    li.app-main-services-item
                        img.app-main-services-item__img(src="static/img/td-5.jpg", alt="td-5.jpg")
                        h4.app-main-services-item__title Аммиачные холодильные установки
        include ../../components/footer/footer
        script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" )
        script(src="../script/media.js" )
