.app-contacts
    margin-top: 5em
    &-wrap
        @include  flex(row, flex-start, center)
        gap: 100px
    &-main
        @include  flex(column, center, flex-start)
        gap: 15px
        max-width: 560px
        &__items
            @include  flex(row, flex-start, center)
            gap: 5px
            @include  text(1.2rem, normal, normal, $primary-color-tet-dark)
    &-form-feedback
        @include flex(column, flex-start, center)
        &-wrap
            margin-top: 2em
            @include flex(column, flex-start, center)
            gap: 25px
        &-content
            @include flex(row, center, center)
            gap: 20px
            textarea
                border-radius: 10px
                border: 2px solid $primary-color-light
        &-wrap-input
            @include flex(column, flex-start, center)
            gap: 10px
        &-input
            @include flex(column, flex-start, flex-start)
            gap: 10px
            input
                width: 300px
                height: 30px
                border-color: $primary-color-light
                border-radius: 5px
#formFeedbackPost
    width: 300px
    height: 200px
#contacts-number-ofice:hover,
#contacts-email-ofice:hover
    font-weight: 600
    cursor: pointer
    color: $primary-color-dark