@import reset.sass
@import var.sass
@import samolazoff
*
    box-sizing: border-box
    padding: 0
    margin: 0
    font-family: $font-family
.container
    max-width: $xxl
    margin: 0 auto
    padding: 0 20px
.txt_bold 
    font-weight: 700
.text-confid
    font-size: 10px
.d-none
    display: none
.d-flex
    display: flex !important
@import ../components/burger/burger
@import ../components/header/header
.title-block
    width: 80%
    margin-bottom: 1em
    border-bottom: 2px solid
    @include text(3em, normal, 600, $primary-color)
.app-main
    margin-top: 50px
    .about-wrap
        @include flex(row, flex-start, flex-start)
        @import ../components/about/about
        @import ../components/news-min/news-min
.btn
    @include flex(row, center, center)
    width: 150px
    padding: 15px 35px
    border-radius: 50px
    background-image: linear-gradient(147deg, $primary-color-light 0%, $primary-color 74%)
    color: $primary-color-txt
    box-shadow: 0px 14px 40px $primary-color-light
    @include text(.9em, normal, 500, $primary-color-txt)
    text-decoration: none
    letter-spacing: 1px
    &:hover
        color: $primary-color-light
        cursor: pointer
@import ../components/partners/partners
@import ../components/contacts/contacts
@import ../components/footer/footer
@media (max-width: 1200px)
    .container
        max-width: $xl
        padding: 0 20px