ul.menu-main 
    li.menu-main__item
        a(href="/") Главная
    li.menu-main__item
        a(href="/") Услуги
    li.menu-main__item
        a(href="/") Разрешения
    li.menu-main__item
        a(href="/") Отзывы
    li.menu-main__item
        a(href="/") Новости
    li.menu-main__item
        a(href="/") Контакты