doctype html
html(lang="en")
    head
        
        link(rel="shortcut icon", href="static/img/favicon.svg", type="image/x-icon")
        link(rel="stylesheet", href="style/index.css")
        include ../components/head/head
    body 
        include ../components/header/header
        main.app-main.container
            .about-wrap
                include ../components/about/about
                include ../components/news-min/news-min
            include ../components/partners/partners
            include ../components/contacts/contacts
        include ../components/footer/footer
        script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" )
        script(src="script/swiper.js" )
