doctype html
html(lang="en")
    head
        
        link(rel="shortcut icon", href="static/img/favicon.svg", type="image/x-icon")
        link(rel="stylesheet", href="style/index.css")
        include ../components/head/head
    body 
        include ../components/header/header
        main.app-main.container
            .about-wrap
                include ../components/about/about
                include ../components/news-min/news-min
            section.app-partners
                h2.title-block Наши партнёры
                .app-partners-wrap 
                    .app-partners-item 
                        img.app-partners-item__img(src="static/img/gazprom.png", alt="gazprom.png")
                        span.app-partners-item__title ОАО «Газпром трансгаз Беларусь»
                    .app-partners-item 
                        img.app-partners-item__img(src="static/img/ecogaz.jpg", alt="ecogaz.jpg")
                        span.app-partners-item__title ОАО «Газпром трансгаз Беларусь» ф-л «ЭКОГАЗ»
                    .app-partners-item 
                        img.app-partners-item__img(src="static/img/mnpz.png", alt="mnpz.png")
                        span.app-partners-item__title ОАО «Мозырский НПЗ»
                    .app-partners-item 
                        img.app-partners-item__img(src="static/img/nefthimpng.png", alt="nefthimpng.png")
                        span.app-partners-item__title Предприятия концерна «Белнефтехим»
                    .app-partners-item 
                        img.app-partners-item__img(src="static/img/bvm.gif", alt="bvm.gif")
                        span.app-partners-item__title УП «Могилеввторчермет»
                    .app-partners-item 
                        img.app-partners-item__img(src="static/img/scitles.png", alt="scitles.png")
                        span.app-partners-item__title Государственное предприятие «Мозырские молочные продукты»
        script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" )
        script(src="script/swiper.js" )
