section.app-about
    h2.title-block О нас
    p.app-about__desc Общество с ограниченной ответственностью «Альфа Квалитет» зарегистрировано в Минском горисполкоме в 2015 г. Наша специализация – деятельность в области промышленной безопасности
    p.app-about__desc Мы используем новейшие методики и передовые технологии, обеспечиваем высокое качество работ по адекватным ценам
    include ../swiper-about/swiper-about