section.app-about
    h2.title-block О нас
    p.app-about__desc Общество с ограниченной ответственностью «Альфа Квалитет» зарегистрировано в Минском горисполкоме в 2015 г. Наша специализация – деятельность в области промышленной безопасности
    p.app-about__desc Мы используем новейшие методики и передовые технологии, обеспечиваем высокое качество работ по адекватным ценам
    include ../swiper-about/swiper-about
    //- .about-slider
    //-     .about-slider__wrp.swiper-wrapper
    //-         .about-slider__item.swiper-slide
    //-             .about-slider__img
    //-                 img(src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="")
    //-             .about-slider__content
    //-                 span.about-slider__text Неразрушающий контроль технических устройств различного назначения
    //-                 a.about-slider__button(href="#") Больше
    //-         .about-slider__item.swiper-slide
    //-             .about-slider__img
    //-                 img(src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="")
    //-             .about-slider__content
    //-                 span.about-slider__text Техническое диагностирование технических устройств, применяемых на опасных производственных объектах
    //-                 a.about-slider__button(href="#") Больше 
    //-         .about-slider__item.swiper-slide
    //-             .about-slider__img
    //-                 img(src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="")
    //-             .about-slider__content
    //-                 span.about-slider__text Расчеты ресурса дальнейшей эксплуатации технологического оборудования
    //-                 a.about-slider__button(href="#") Больше 
    //-         .about-slider__item.swiper-slide
    //-             .about-slider__img
    //-                 img(src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="")
    //-             .about-slider__content
    //-                 span.about-slider__text Качественное оказание услуг
    //-     .about-slider__pagination