.app-about
    @include flex(column, flex-start, center)
    .title-block
        align-self: flex-start
    width: 100%
    &__desc
        width: 75%
        margin-bottom: 2em
        @include text(1.2em, normal, normal, $primary-color-tet-dark)
        text-align: justify
@import ../swiper-about/swiper-about

