@import ../styles/samolazoff
@import ../styles/var
.menu-personal
    position: relative
    z-index: 999
    @include flex(row, center, center)
    gap: 25px
    &__item
        @include text(1.0em, normal, normal, $primary-color-txt)
        &:hover
            color: #BC5A5D
@media (max-width: 1200px)
    .menu-personal
        gap: 15px
        font-size: .95em
@media (max-width: 992px)
    .menu-personal
        @include flex(column, center, center)
        margin-bottom: 50px
        width: 100%
        font-size: 1.2em
        display: none
